body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;

}

.menu-icon, .icon-heart, .icon-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.menu-icon:hover {
    filter: grayscale(0);
    opacity: 1;
}
.header-logo {
    font-size: 18px;
    font-weight: normal;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 400px;
    border-right: none;
    height: 40px;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-text {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-text:hover {
    text-decoration: underline;
}

.heart-icon::before,
.cart-icon::before {
    font-size: 10px;
}

main {
 background-color:#f2f2f2;

}
.content {
    display: flex;
    justify-content: space-between;

}

.left-content {
    width: 60%;
    margin-left:50px;
    margin-top:100px;

}

.image-placeholder {
    width: 96%;
    height: 300px;
    background-color: #e0e0e0;
    margin-bottom: 20px;

}

.right-content {
    width: 30%;
    background-color: white;
    padding: 20px;
     height: 300px;
    margin-top:100px;
    margin-right:50px;
}

.right-content .time-left {
    font-size: 0.9em;
    margin-top: 10px;
}

.right-content h3 {
    margin-top: 0;
}

.price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.add-to-cart {
    display: flex;
    align-items: center;
    color: #73c7f7;
    text-decoration: none;
    font-weight: bold;
}
.add-to-cart img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.add-to-cart:hover img {
    filter: grayscale(0);
    opacity: 1;
}

.add-to-cart:hover {
    text-decoration: underline;
}