body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-icon, .icon-heart, .icon-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.menu-icon:hover {
    filter: grayscale(0);
    opacity: 1;
}

.header-logo {
    font-size: 18px;
    font-weight: normal;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 400px;
    border-right: none;
    height: 40px;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-text {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-text:hover {
    text-decoration: underline;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.add-coupon-container {
    padding: 30px;
    background: white;
}

.add-coupon-title {
    background-color: #bdbdbd;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
}

.add-coupon-form {
    display: flex;
}

.left-column,
.right-column {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.left-column label,
.right-column label {
    display: block;
    margin-bottom: 10px;
}

.left-column input,
.right-column input,
.left-column select,
.right-column select,
.left-column textarea,
.right-column textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.left-column select {
    background-color: white;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.back-button,
.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
}

.back-button {
    background-color: #fff;
    border: 1px solid #ccc;
}

.save-button {
    background-color: #6fcf97;
    color: white;
    margin-left: 5px;
}
