body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;

}

.menu-icon, .icon-heart, .icon-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.menu-icon:hover {
    filter: grayscale(0);
    opacity: 1;
}
.header-logo {
    font-size: 18px;
    font-weight: normal;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 400px;
    border-right: none;
    height: 40px;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-text {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-text:hover {
    text-decoration: underline;
}

.heart-icon::before,
.cart-icon::before {
    font-size: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 70px;
}

.login-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    width: 300px;
}

.logo-circle {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 20px;
    margin-left: 20px;
}

.login-input {
    margin: 4px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.login-button {
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 4px;
}

.login-button:hover {
    background-color: #4cae4c;
}
