body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;

}

.menu-icon, .icon-heart, .icon-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.menu-icon:hover {
    filter: grayscale(0);
    opacity: 1;
}
.header-logo {
    font-size: 18px;
    font-weight: normal;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 400px;
    border-right: none;
    height: 40px;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-text {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-text:hover {
    text-decoration: underline;
}

.heart-icon::before,
.cart-icon::before {
    font-size: 10px;
}

main {


}


.checkout-title {
         background-color: #bdbdbd;
         padding: 20px 30px;
         padding-left:300px;
         margin-top: 60px;
         color:white;
         font-size:15px;
}
.checkout-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.item-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item-icon {
    width: 75px;
    height: 75px;
    background-color: #ccc;
    margin-right: 15px;
}

.item-details {
    flex: 1;
}

.coupon-name {
    font-weight: bold;
    margin-bottom: 15px;

}

.item-description {
    color: #666;
    font-size: 0.8em;
}

.item-price {
    font-weight: bold;
}

.divider {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-label {
    font-weight: bold;
    padding-left:450px;
}

.total-price {
    font-weight: bold;
}

.button-row {
    text-align: right;
}

.back-button, .checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-top:40px;
    cursor: pointer;

    width:150px;
}

.back-button {
    background-color: #fff;
    border: 1px solid #ccc;
}

.checkout-button {
  background-color: #6fcf97;
    color: #fff;
    margin-left: 5px;
}