body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Estilo para la categoría expandida */
.category.expanded {
    background-color: #f0f0f0;
    transition: all 0.3s;
    /* Otros estilos para indicar que está expandida */
}

/* Indicador de conteo del carrito */
.icon-cart[data-count]:after {
    content: attr(data-count);
    font-size: 12px;
    color: white;
    background: red;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: 0;
    right: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;

}

.menu-icon, .icon-heart, .icon-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.menu-icon:hover {
    filter: grayscale(0);
    opacity: 1;
}
.header-logo {
    font-size: 18px;
    font-weight: normal;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

.scroll-to-top.show {
    display: block;
}


.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 400px;
    border-right: none;
    height: 40px;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-text {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-text:hover {
    text-decoration: underline;
}

.heart-icon::before,
.cart-icon::before {
    font-size: 10px;
}

main {
    margin-top: 40px;
}

.category-bar {
    display: flex;
    justify-content: space-around;
    padding: 30px 200px;
    background-color: #e0e0e0;
    margin-top:50px;
    margin-bottom:20px;
}

.category-icon {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
}

.category-name {
    font-size: 14px;
    color: #000;
    padding-top:75px;
}

.category {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
}


.coupon-container {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    justify-content: center;
    margin-top:20px;
}
.coupon-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.coupon {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coupon-image {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0;
}

.coupon-details {
    padding: 10px;
}

.coupon-details h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.coupon-details p {
    margin: 5px 0;
    font-size: 12px;
    color: #666;
}

.coupon-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.add-to-cart {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    font-weight:bold;
}

.add-to-cart:hover {
    background-color: white;
}
