body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;

}

.menu-icon, .icon-heart, .icon-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.menu-icon:hover {
    filter: grayscale(0);
    opacity: 1;
}
.header-logo {
    font-size: 18px;
    font-weight: normal;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 400px;
    border-right: none;
    height: 40px;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-text {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-text:hover {
    text-decoration: underline;
}

.heart-icon::before,
.cart-icon::before {
    font-size: 10px;
}

main {


}
.register-container {
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
}

.register-title {
       background-color: #bdbdbd;
       padding: 20px 20px;
       margin: 0;
       color:white;
       font-size:15px;
       border-bottom: 1px solid #ccc;
}

.register-form {
    padding: 10px 20px;
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;
    color: #332f2c;
}

.left-column,
.right-column {
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}

.left-column label,
.right-column label {
    display: block;
    margin-bottom: 5px;
}

.left-column input,
.right-column input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;


}

.cancel-button,
.signup-button {
    width: calc(50% - 5px);
    margin-left: 290px;
    margin-right: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 8px;

}

.cancel-button {
    background-color: #fff;
}

.signup-button {
    background-color: #6fcf97;
    color: #fff;
    margin-left: 5px;
}

